In [4]:
#Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dc= dict(zip(keys,values))
dc

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [7]:
#Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)
dict3={**dict1, **dict2} #another method
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [16]:
#Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict['class']['student']['marks']['history']

80

In [19]:
#Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dc={}
for ele in employees:
    dc[ele]=defaults
print(dc)
res=dict.fromkeys(employees, defaults) #another method
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [22]:
#Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
for ele in keys:
    del sample_dict[ele]
sample_dict

{'age': 25, 'city': 'New york'}

In [24]:
# Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}
check= 200
if 200 in sample_dict.values():
    print("present")

present

In [26]:
#Rename key of a dictionary
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location']= sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [33]:
#Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sample_dict, key= sample_dict.get)

'Math'

In [1]:
#dictionary comprehension
dc={num: num**2 for num in range(1,11)}
dc

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [5]:
#creating new dictionary using old dictionary
#pricing from rupee to dollar
rupee= {"milk":36, "egg":7}
inc= 1/70
dollar={item:value*inc for (item,value) in rupee.items()}
dollar

{'milk': 0.5142857142857142, 'egg': 0.09999999999999999}

In [8]:
#printing even values in dict
dc={"a":2, "b":3, "c":4, "d":5}
even_dc={key:val for (key,val) in dc.items() if val%2==0}
even_dc

{'a': 2, 'c': 4}

In [10]:
#printing even age and age>40
age= {"ram":39, "sham":42, "sita":38, "radha":41}
new_age= {name:age for (name,age) in age.items() if age%2==0 if age>40} #two if staements are equal to and operation
new_age

{'sham': 42}