In [1]:
#palindrome or symmetric
def palindrom(st):
    half= len(st)//2
    if len(st)%2==0:
        first_half= st[:half]
        second_half= st[half:]
    else:
        first_half= st[:half]
        second_half=st[half+1:]
    '''    
    #checking symmetric
    if first_half==second_half:
        return "symmetric"
    else:
        return "non symmetric"
    '''
    #checking plaindrome
    if first_half==second_half[::-1]:
        return "palindrome"
    else:
        return "not a plaindrome"
        
palindrom("DAD")

'palindrome'

In [18]:
#reverse string
st="ABCD"
st[::-1]

'DCBA'

In [24]:
#reverse words 
st1= "my name is palak"
ls=st1.split()
rev= " ".join(reversed(ls))
rev

'palak is name my'

In [25]:
#remove a char from string
def remove_char(st, ch):
    return st.replace(ch,"")
    # "".join(st.split('ch')) , another method
remove_char("palak",'a')

'plk'

In [28]:
# length of string
def length(st):
    #return len(st) , 1 way
    #another way
    s=0
    for ele in st:
        s+=1
    return s    
length("palak")

5

In [30]:
#creating string made of 1st, middle and last char
def string_create(st):
    mid= len(st)//2
    new_st= st[0]+st[mid]+st[-1]
    return new_st
string_create("james")

'jms'

In [33]:
#string made of middle three char
def mid_three_char(st):
    mid= len(st)//2
    new_st= st[mid-1:mid+2]
    return new_st
mid_three_char("JaSonAy")

'Son'

In [36]:
#append new string in the middle of string
def append_string(st, st1):
    mid= len(st)//2
    new_st= st[:mid]+ st1+ st[mid+1:]
    return new_st
append_string("Ault",'Kelly')

'AuKellyt'

In [39]:
#Arrange string characters such that lowercase letters should come first
def lower_upper(st):
    low_st=""
    up_st=""
    for ele in st:
        if ele.islower():
            low_st+=ele
        else:
            up_st+=ele
    return low_st+up_st
lower_upper("ABcDefGh")

'cefhABDG'

In [42]:
#Count all letters, digits, and special symbols from a given string
def count_st(st):
    char, digit, symbol= 0,0,0
    for ele in st:
        if ele.isdigit():
            digit+=1
        elif ele.isalpha():
            char+=1
        else:
            symbol+=1
    return char, digit, symbol
count_st("P@#yn26at^&i5ve")

(8, 3, 4)

In [54]:
#Create a mixed String using 2 strings
#1st char or 1st string and last char of 2nd string and so on
def mix_st(st, st1):
    new_st=""
    length= len(st) if len(st)>len(st1) else len(st1)
    for i in range(length):
        if i<len(st):
            new_st+=st[i]
        if i<len(st1):
            new_st+=st1[-(i+1)]
    return new_st
mix_st("ABC", "Xyzef")

'AfBeCzyX'

In [59]:
#String characters balance Test, if all char of st are present in st1
def balance_st(st, st1):
    check=0
    for ele in st:
        if ele in st1:
            continue
        else:
            check=1
    return "balanced" if check==0 else "not balanced"
balance_st("pq", "abpstuvqqp")

'balanced'

In [65]:
#Find all occurrences of a substring in a given string by ignoring the case
def string_count(sent, st):
    sent= sent.lower()
    st= st.lower()
    return sent.count(st)
string_count("hi hello HI Hi", 'hi')

3

In [69]:
#Calculate the sum and average of the digits present in a string
#method 1
def sum_avg(st):
    sum1,count=0,0
    for ele in st:
        if ele.isdigit():
            sum1+=int(ele)
            count+=1
    return sum1, sum1/count
sum_avg("PYnative29@#8496")

(38, 6.333333333333333)

In [70]:
#Calculate the sum and average of the digits present in a string
#method 2
st="PYnative29@#8496"
ls=[int(ele) for ele in st if ele.isdigit()]
print("sum of digits is", sum(ls))
print("average of digits is", sum(ls)/len(ls))

sum of digits is 38
average of digits is 6.333333333333333

In [76]:
#Write a program to count occurrences of all characters within a string
st= "Apple"
dc={}
for ele in st:
    dc[ele]= st.count(ele)
print(dc)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [18]:
#Find the last position of a given substring
st="Emma is a data scientist who knows Python. Emma works at google."
st.rfind("Emma")

43

In [23]:
#Split a string on hyphens
str1 = "Emma-is-a-data-scientist"
sp=str1.split("-")
for ele in sp:
    print(ele)

Emma
is
a
data
scientist

In [26]:
#Remove empty strings from a list of strings
#method 1
def remove_emp(ls):
    for ele in ls:
        if ele=="":
            ls.remove(ele)
    return ls
remove_emp(["abc", "", "pqr",""])

['abc', 'pqr']

In [30]:
#method 2
ls=["abc", "", "pqr",""]
ls1=list(filter(None,ls))
ls1

['abc', 'pqr']

In [35]:
#RRemoval all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
str2=""
for ele in str1:
    if ele.isdigit():
        str2+=ele
res="".join([ele for ele in str1 if ele.isdigit()])   #another method    
print(str2)        
print(res)

2510
2510

In [6]:
#Find words with both alphabets and numbers
str1 = "Emma25 is Data scientist50 and AI Expert"
ls= str1.split()
ls1=[]
for ele in ls:
    if any(char.isalpha() for char in ele) and any(char.isdigit() for char in ele):
        ls1.append(ele)
print(ls1)

['Emma25', 'scientist50']

In [20]:
#Replace each special symbol with # in the following string
str1 = '/*Jon is @developer & musician!!'
ls= str1.split()
ls1=[]
for ele in ls:
    for char in ele:
        if char.isalpha()==False:
            ele=ele.replace(char,"#")
    ls1.append(ele)    
print(" ".join(ls1))

##Jon is #developer # musician##

In [7]:
#length of string without spaces
st="my name is palak"
res= sum(map(len, st.split()))
res

13

In [8]:
#even length words in a string
st= "my name is palak"
for i in st.split():
    if len(i)%2==0:
        print(i)

my
name
is

In [9]:
#upper case on 2nd half of string
st= "pythoniscool"
st1= st[:len(st)//2]+ st[len(st)//2:].upper()
st1

'pythonISCOOL'

In [13]:
#1st and last character to upper
st= "my name is palak"
res= " ".join(map(lambda st: st[:-1]+ st[-1].upper(),st.title().split()))
res

'MY NamE IS PalaK'

In [19]:
#to check if string have atleast 1 letter and 1 number
st ="12a"
check, check1 = False, False
for ele in st:
    if ele.isdigit():
        check = True
        continue
    if ele.isalpha():
        check1 = True
if check and check1:
    print(True)
else:
    print(False)

True

In [26]:
#to check if all vowels are present or not
st= "geeksforgeeks"
vowels= "aeiou"
for ele in st.lower():
    if ele in vowels:
        dc[ele]=0
if len(dc)== len(vowels):
    print("accepted")
else:
    print("not accepted")

accepted

In [32]:
#count the number of matching character in string
st= "abcpqr"
st1= "efbdkper"
count=0
for ele in set(st):
    if ele in st1:
        count+=1
print(count)

3

In [40]:
#remove duplicates from string
st= "geeksforgeeks"
"".join(set(st))

'frskgeo'

In [51]:
#minimum frequency of values
st="geeksforgeeks"
dc={}
for ele in st:
    dc[ele]= dc.get(ele,0)+1
min(dc, key= dc.get)

'f'

In [63]:
#maximum frequency of values, using counter
from collections import Counter
res= Counter(st)
max(res, key= res.get)

Counter({'e': 4, 'g': 2, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1})

In [64]:
#odd frequency character
from collections import Counter
st="geeksforgeeks"
res= Counter(st)
for ele in res.items():
    if ele[-1]%2:
        print(ele[0])

f
o
r

In [11]:
#specific word frequency
def frequency(st, s):
    dc={}
    for ele in st:
        dc[ele]= dc.get(ele,0)+1
    return dc[s]

st= "geeksforgeeks"

frequency(st, 'e')

4

In [12]:
#number of numerics in string
st = "geeks4feeks is No. 1 4 geeks"
count = 0
for ele in st:
    if ele.isdigit():
        count+=1
print(count)

3

In [15]:
#special character in string
st = "abc@#$ahd&"
for ele in st:
    if ele.isdigit()==False and ele.isalpha()== False:
        print("string not accepted")
        break

string not accepted

In [22]:
#words greater than a given length
st = "hello geeks for geeks is computer science portal" 
k = 4    
for ele in st.split():
    if len(ele)>k:
        print(ele, end=" ")

hello geeks geeks computer science portal

In [25]:
#remove ith character from string
st= "titan"
k=2
st= st[:k-1] + st[k:]
#st.replace(st[k-1],"")  , another way
st

'ttan'

In [28]:
#spliting string and then join it with "-"
st= "Geeks for Geeks"
print(st.split())
print("-".join(st.split()))

['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

In [38]:
#binary string
st='010010mmm101011'
for ele in st:
    if ele not in '01':
        print('not a binary string')
        break
else:
    print("binary")

not a binary string

In [42]:
#swap commas and dots
st = "14, 625, 498.002"
st = st.replace(",", "@")
st = st.replace(".", ",")
st=st.replace("@", ".")
st

'14. 625. 498,002'

In [49]:
#permutation of a string
from itertools import permutations
st = "ABC"
ls = list(permutations(st))
for ele in ls:
    print("".join(ele))

ABC
ACB
BAC
BCA
CAB
CBA

In [53]:
#search url in string
string = 'I am a blogger at https://geeksforgeeks.org'
for ele in string.split():
    if ele.startswith("https"):
        print(ele)

https://geeksforgeeks.org

In [61]:
#Convert numeric words to numbers
dc = {
    'one': '1',
    'two': '2',
    'three': '3',
    'four': '4',
    'five': '5',
    'six': '6',
    'seven': '7',
    'eight': '8',
    'nine': '9',
    'zero' : '0'
}
st= 'three two six one nine'
st1=""
for ele in st.split():
    st1+=dc[ele]
st1
# "".join(dc[ele] for ele in st.split()) , another method

'32619'

In [68]:
#word location
st= "geeksforgeeks is best for geeks"
find= 'best'
ls= st.split()
for ele in ls:
    if ele== find:
        print(ls.index(ele)+1)
        break

3

In [95]:
# rotate a string
s = "GeeksforGeeks"
d = 2
#rotate left
print(s[d:] + s[:d])
#rotate right
print(s[-d:] + s[:-d])

eksforGeeksGe
ksGeeksforGee

In [118]:
#String slicing in Python to check if a string can become empty by recursive deletion
def remove(st, substr):
    while st:
        idx= st.index(sub_str)
        st= st[:idx]+ st[idx+ len(sub_str):]
    if st:
        print("not empty")
    else:
        print("empty")
st = "GEEGEEKSKS"
sub_str = "GEEKS"
remove(st, sub_str)

empty

In [17]:
# escape sequence
A = '''I'm a "Geek"'''
A

'I\'m a "Geek"'

In [32]:
#formatted string
A ='My name is {n}. I like {c}.'.format(n = 'Palak', c = 'Coding')
B = 'My name is {}. I like {}.'.format('Palak', 'Coding')
C = 'My name is {1}. I like {0}.'.format('Coding', 'Palak')
print(A, B, C, sep = "\n")

My name is Palak. I like Coding.
My name is Palak. I like Coding.
My name is Palak. I like Coding.

In [29]:
#formated string
n = 'Palak'
c = 'Coding'
print(f'My name is {n}. I like {c}.')

My name is Palak. I like Coding.